@{
    ViewBag.Title = "Graph";
}
<script>
    var username = '@(ViewBag.Username)';
</script>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
<h2>Hello @ViewBag.Username!</h2>
<h3>Here's your balance history:</h3>
<div id="chart_div" style="width: 1000px; height: 500px;"></div>
<br />
<table style="width:100%">
    <tr>
        <th>Date</th>
        <th>Balance</th>
    </tr>
</table>