@{
    ViewBag.Title = "Graph";
}
<script>
    var username = '@(ViewBag.Username)';
</script>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
<h2>Hello @ViewBag.Username!</h2>
<h3>Here's your balance history:</h3>
<div id="tpp-graph">
    <div id="chart-div" style="width: 1000px; height: 500px;"></div>
    <div id="biggest-payouts">
        Your 5 biggest payouts from most recent PBR update:
        <table id="payouts-table">
            <tr>
                <th> Battle Id </th>
                <th> Payout </th>
                <th> Picture </th>
            </tr>
        </table>
    </div>    
</div>
