@{
    ViewBag.Title = "TPP Usergraph";
}
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <br />
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>

@using (Html.BeginForm("Graph", "Tpp"))
{
    <div>
        <label>Some label</label>
        <input type="text" name="username" />
        <input type="submit"/>
    </div>    
}
